<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Coding Projects</h1>
        <p>Most of the code for these projects can be found on my GitHub account.</p>
        <p>
        	<a href="http://github.com/bybeet" class="btn btn-primary btn-large">github.com/bybeet &raquo;</a>
        	<img src="img/github.png" alt="Github Octocat" height="50" width="50" />
        </p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
      <% @projects.each do |project| %>
        <% if @i > 12 then %>
        <% @i = 0 %>
        </div><!-- /row -->
        <div class="row">
        <% end %>
        <div class="span<%= @span %>">
          <h2><%= project.title %></h2>
          <p><%=  project.description %></p>
          <p><a class="btn" href="/project_<%= project.name_id%>">View details &raquo;</a></p>
        </div><!-- /span4 -->
      <% @i += @span; end%>
      </div><!-- /row -->
      
</div> <!-- /container -->