<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Coding Projects</h1>
        <p>Most of the code for these projects can be found on my GitHub account.</p>
        <p>
        	<a href="http://github.com/bybeet" class="btn btn-primary btn-large">github.com/bybeet &raquo;</a>
        	<img src="img/github.png" alt="Github Octocat" height="50" width="50" />
        </p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>todo.txt with NFC</h2>
          <p>CSCI498 Mobile Development with Android Final Project.</p>
          <p><a class="btn" href="https://github.com/bybeet/TodoTxtNFC">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Calendar Shopping</h2>
          <p>CSCI422 User Interface Design Final Project</p>
          <p><a class="btn" href="https://github.com/bybeet/WestSideShoppers">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Travis Bybee Website</h2>
          <p>Website creating using Ruby with <a href="http://www.sinatrarb.com/" title="Sinatra Ruby DSL">Sinatra DSL</a>.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

</div> <!-- /container -->